In [18]:
import time
import pandas as pd
api_key="AIzaSyC48UtnMdvgqMewuywUFxqpDherQJ61jx0"
from googleapiclient.discovery import build
youtube=build('youtube','v3',developerKey=api_key)

ID = 'tS8nzAQg_8k'
data = youtube.commentThreads().list(
    part='snippet', 
    videoId=ID, maxResults='100000', 
    textFormat="plainText"
    ).execute()

In [19]:
data = youtube.commentThreads().list(
    part='snippet', 
    videoId=ID, maxResults='100000', 
    textFormat="plainText"
    ).execute()

In [30]:
box=[]
data = youtube.commentThreads().list(part='snippet', videoId=ID, maxResults='50000', textFormat="plainText").execute()
# response format :https://developers.google.com/youtube/v3/docs/commentThreads/list
for i in data["items"]:

    name = i["snippet"]['topLevelComment']["snippet"]["authorDisplayName"]
    comment = i["snippet"]['topLevelComment']["snippet"]["textDisplay"]
    published_at = i["snippet"]['topLevelComment']["snippet"]['publishedAt']
    likes = i["snippet"]['topLevelComment']["snippet"]['likeCount']
    replies = i["snippet"]['totalReplyCount']

    box.append([name, comment, published_at, likes, replies])

    totalReplyCount = i["snippet"]['totalReplyCount']

    if totalReplyCount > 0:

        parent = i["snippet"]['topLevelComment']["id"]
#les replies 
        data2 = youtube.comments().list(part='snippet', maxResults='100', parentId=parent,
                                        textFormat="plainText").execute()

        for i in data2["items"]:
            name = i["snippet"]["authorDisplayName"]
            comment = i["snippet"]["textDisplay"]
            published_at = i["snippet"]['publishedAt']
            likes = i["snippet"]['likeCount']
            replies = ""

            box.append([name, comment, published_at, likes, replies])

while ("nextPageToken" in data):

    data = youtube.commentThreads().list(part='snippet', videoId=ID, pageToken=data["nextPageToken"],
                                         maxResults='1000', textFormat="plainText").execute()

    for i in data["items"]:
        name = i["snippet"]['topLevelComment']["snippet"]["authorDisplayName"]
        comment = i["snippet"]['topLevelComment']["snippet"]["textDisplay"]
        published_at = i["snippet"]['topLevelComment']["snippet"]['publishedAt']
        likes = i["snippet"]['topLevelComment']["snippet"]['likeCount']
        replies = i["snippet"]['totalReplyCount']

        box.append([name, comment, published_at, likes, replies])

        totalReplyCount = i["snippet"]['totalReplyCount']

        if totalReplyCount > 0:

            parent = i["snippet"]['topLevelComment']["id"]

            data2 = youtube.comments().list(part='snippet', maxResults='100', parentId=parent,
                                            textFormat="plainText").execute()

            for i in data2["items"]:
                name = i["snippet"]["authorDisplayName"]
                comment = i["snippet"]["textDisplay"]
                published_at = i["snippet"]['publishedAt']
                likes = i["snippet"]['likeCount']
                replies = ''

                box.append([name, comment, published_at, likes, replies])
import pandas as pd
df = pd.DataFrame(box, columns = ['Name', 'Comment', 'Time', 'Likes', 'Reply Count'])
df

,Name,Comment,Time,Likes,Reply Count
0,Thisiz Balti,Max de partage Maghrebangs ‚ù§Ô∏è,2021-02-13T12:19:10Z,20278,500
1,ahmed jb,ÿß,2022-05-23T21:06:07Z,0,
2,Zouhair222,ŸÖÿ≠ŸÑÿßŸáÿß,2022-04-11T08:29:47Z,0,
3,Nada Denden,@Hedi DERBEL a s,2022-04-11T00:43:27Z,0,
4,Gjh Gyr,üëπüß°üá≤üá¶üá≤üá¶,2022-03-15T13:55:49Z,0,
...,...,...,...,...,...
32805,Boss Ruok,üòØüëá\nhttps://youtu.be/Xc7xNJeNdWo,2021-02-13T12:00:34Z,1,0
32806,Simohamed Tabite,Tooop,2021-02-13T12:00:30Z,0,0
32807,Boss Ruok,üòØüëá\nhttps://youtu.be/Xc7xNJeNdWo,2021-02-13T12:00:29Z,1,0
32808,BRB CREW,First,2021-02-13T12:00:29Z,0,0
32809,Boss Ruok,üòØüëá\nhttps://youtu.be/Xc7xNJeNdWo,2021-02-13T12:00:24Z,1,0

In [31]:
df.to_csv("balti.csv")

In [32]:
df1=pd.read_table("balti.csv", sep=",")
df1

,Unnamed: 0,Name,Comment,Time,Likes,Reply Count
0,0,Thisiz Balti,Max de partage Maghrebangs ‚ù§Ô∏è,2021-02-13T12:19:10Z,20278,500.0
1,1,ahmed jb,ÿß,2022-05-23T21:06:07Z,0,NaN
2,2,Zouhair222,ŸÖÿ≠ŸÑÿßŸáÿß,2022-04-11T08:29:47Z,0,NaN
3,3,Nada Denden,@Hedi DERBEL a s,2022-04-11T00:43:27Z,0,NaN
4,4,Gjh Gyr,üëπüß°üá≤üá¶üá≤üá¶,2022-03-15T13:55:49Z,0,NaN
...,...,...,...,...,...,...
32805,32805,Boss Ruok,üòØüëá\nhttps://youtu.be/Xc7xNJeNdWo,2021-02-13T12:00:34Z,1,0.0
32806,32806,Simohamed Tabite,Tooop,2021-02-13T12:00:30Z,0,0.0
32807,32807,Boss Ruok,üòØüëá\nhttps://youtu.be/Xc7xNJeNdWo,2021-02-13T12:00:29Z,1,0.0
32808,32808,BRB CREW,First,2021-02-13T12:00:29Z,0,0.0
32809,32809,Boss Ruok,üòØüëá\nhttps://youtu.be/Xc7xNJeNdWo,2021-02-13T12:00:24Z,1,0.0